extends ../layout

block head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title PrimeSpot | Receipt
    link(rel='stylesheet', href='/static/login.css')
    link(rel='icon' href='/images/logo.gif' type='image/ico' sizes='16x16')


block content
    header
        img(src='/images/book_logo.jpeg' alt='Book store logo' height='80')
        h2 PrimeSpot
        h3 Browse our shelves... Gain more knowledge
    main
        h1 Sign in
        h3.center.text-danger.text-center=errorMessage
        figure
            form.form-login(action="/auth" method="POST")
                div.form-group
                    input(
                        type="text"
                        id="username"
                        name="username"
                        class="input-form-control"
                        required
                        Placeholder = "Username"
                    )

                div.form-group
                    input(
                        type="password"
                        id="password"
                        name="password"
                        class="input-form-control"
                        required
                        Placeholder = "Password"
                    )

                input.btn.btn-lg.btn-secondary.btn-block(
                    type="submit"
                    value="Login"
                )



block footer
    p &copy; 2020, PrimeSpot, Fresno, CA 93755
