extends ../layout

block head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title PrimeSpot | Receipt
    link(rel='stylesheet', href='/static/orders.css')
    link(rel='icon' href='/images/logo.gif' type='image/ico' sizes='16x16')

block content
    header
        img(src='/images/book_logo.jpeg' alt='Book store logo' height='80')
        h2 PrimeSpot
        a.nav-link.userlogin(href='/auth/logout') Sign out
        h3 Browse our shelves... Gain more knowledge

    main
        h1 Orders
        br
        div.container
            table.table#customers
                thead
                    tr
                        th(scope='col') Username
                        th(scope='col') Email
                        th(scope='col') phone
                        th(scope='col') Address
                        th(scope='col') Quantity of items
                        th(scope='col') Shipping charges
                        th(scope='col') Total amount paid

                tbody
                    each p in orders
                        tr
                            td.col-3= p.username
                            td.col-2=p.email
                            td.col-1=p.phone
                            td.col-2
                                p   #{p.address}
                                br
                                p   #{p.city}
                                br
                                p   #{p.province}
                                    |   #{p.postal}
                            td.col-2
                                if p.product1 != null
                                    p   Book 1 - #{p.product1} Qty
                                br
                                if p.product2 != null
                                    p   Book 2 - #{p.product2} Qty
                                br
                                if p.product3 != null
                                    p   Book 3 - #{p.product3} Qty
                                br
                                if p.product4 != null
                                    p   Book 4 - #{p.product4} Qty

                            td.col-1=p.shippingCharges
                            td.col-1=p.total

block footer
    p &copy; 2020, PrimeSpot, Fresno, CA 93755