extends ../layout

block head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title PrimeSpot | Receipt
    link(rel='stylesheet', href='/static/paymentForm.css')
    link(rel='icon' href='/images/logo.gif' type='image/ico' sizes='16x16')

block content
    header
        img(src='/images/book_logo.jpeg' alt='Book store logo' height='80')
        h2 PrimeSpot
        h3 Browse our shelves... Gain more knowledge
    main
        section#divIdToPrint
            a(href='/order') Back
            h1 Receipt

            .form-group
                p.left Name
                p.sep :
                p.right= order.username

            .form-group
                p.left Email
                p.sep :
                p.right= order.email

            .form-group
                p.left Phone
                p.sep :
                p.right= order.phone

            .form-group
                p.left Delivery Address
                p.sep :
                p(style='white-space: pre-line').right #{order.address}
                    |                #{order.city}
                    |                #{order.province}
                    |                #{order.postal}

            .form-group
                p.left #{order.product1} Book 1 @ $8.99
                p.sep :
                p#product1.right $#{order.product1cost.toFixed(2)}

            .form-group
                p.left #{order.product2} Book 2 @ $22.99
                p.sep :
                p#product2.right $#{order.product2cost.toFixed(2)}

            .form-group
                p.left #{order.product3} Book 3 @ $19.50
                p.sep :
                p#product3.right $#{order.product3cost.toFixed(2)}

            .form-group
                p.left #{order.product4} Book 4 @ $15.00
                p.sep :
                p#product4.right $#{order.product4cost.toFixed(2)}

            .form-group
                p.left Shipping Charges
                p.sep :
                p#shipping.right $#{order.shippingCharges.toFixed(2)}

            .form-group
                p.left Sub Total
                p.sep :
                p#sub.right $#{order.subTotal.toFixed(2)}

            .form-group
                p.left Taxes
                p.sep :
                p#taxes.right $#{order.taxes.toFixed(2)}

            .form-group.separateSection
                p.left TOTAL AMT
                p.sep :
                p#total.right $#{order.total.toFixed(2)}

block footer
    p &copy; 2020, PrimeSpot, Fresno, CA 93755

