html {
    background-image: url("../images/background_img.jpg");
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 870px;
    background-color: white;
    margin: 1em auto;
}

section, aside, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

section, aside {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

em {
    font-weight: bold;
}

/* the styles for the header */
header {
    padding: 1em 0;
    border-bottom: 2px solid #f2972e;
}

header img {
    float: left;
    margin-left: 20px;
}

header h2 {
    font-size: 220%;
    color: #f2972e;
    text-shadow: 2px 3px 0 black;
    padding-left: 4.5em;
    margin-bottom: .25em;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    padding-left: 7.5em;
}

/* the styles for the form */
main h1 {
    text-align: center;
    padding: 1em;
}

figure {
    margin: 0 auto;
    width: 305px;
}

.form-group {
    display: inline-block;
    padding: 0;
    margin-bottom: 1em;
}

input[type=text], input[type=password] {
    float: right;
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

input[type=submit] {
    width: 300px;
    background-color: #931420;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 2em;
}

.text-danger {
    display: block;
    width: 450px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: center;
    color: #931420;
}

/* the styles for the footer */
footer {
    clear: both;
    background-color: #931420;
}

footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}