/* the styles for the elements */
* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url("../images/background_img.jpg");
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 992px;
    margin: 1em auto;
    background-color: white;
}

/* the styles for the header */
header {
    border-bottom: 2px solid #f2972e;
    padding: 1.5em 0 2em 0;
}

header h2 {
    font-size: 220%;
    color: #f2972e;
    text-shadow: 2px 3px 0 black;
    padding-left: 4.5em;
    margin-bottom: .25em;
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

header img {
    float: left;
    padding: 0 30px;
    border-radius: 14%;
}

a.userlogin {
    font-size: 1em;
    float: right;
    padding: 0 1em;
    cursor: pointer;
    color: #800000;
    border-left: 4px double;
}

/* the styles for the main content */
main {
    clear: left;
}

/* the styles for section */
section {
    width: 525px;
    float: right;
    padding: 0 20px 20px 20px;
    margin: 2em 0;
    background-color: #ffebc6;
    margin-right: .5em;
}

section h2 {
    color: #800000;
    font-size: 130%;
    padding: .5em 0 .25em 0;
    text-align: center;
}

/* the styles for aside */
aside {
    /*width: 215px;*/
    float: left;
    padding: 0 0 20px 20px;
}

aside h1 {
    color: #800000;
    padding: 10px 0;
}

aside h3 {
    font-size: 105%;
    padding-bottom: .25em;
    padding-top: 1.25em;
}

aside img {
    width: 100px;
    height: 115px;
}

.imgText {
    width: 200px !important;
}

/* the styles for the form */
form {
    margin-left: 1em;
}

.form-group {
    margin: 10px 0;
    overflow: hidden;
}

input[type=text], input[type=email], input[type=number], select {
    float: right;
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus, select:focus {
    outline: none;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    display: block;
    width: 300px;
    background-color: #931420;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px auto;
}

span.error {
    color: #931420;
    display: block;
    width: 300px;
    float: right;
    margin-bottom: 1em;
    padding: 0;
    font-size: 15px;
    text-align: center;
}

#errors {
    margin-top: 1em;
    color: #931420;
    text-align: center;
    display: block;
    font-size: 15px;
}

label.globalError {
    display: block;
    width: 450px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: center;
    color: #931420;
}

/* the styles for the footer */
footer {
    clear: both;
    background-color: #931420;
}

footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}