html {
    background-image: url("../images/background_img.jpg");
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    margin: 1em 3em;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* the styles for the header */
header {
    padding: 1em 0;
    border-bottom: 2px solid #f2972e;
}

header img {
    float: left;
    margin-left: 20px;
}

header h2 {
    font-size: 220%;
    color: #f2972e;
    text-shadow: 2px 3px 0 black;
    padding-left: 4.5em;
    margin-bottom: .25em;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    padding-left: 7.5em;
}

a.userlogin {
    font-size: 1em;
    float: right;
    padding: 0 1em;
    cursor: pointer;
    color: #800000;
    border-left: 4px double;
}

/* the styles for the form */
main h1 {
    text-align: center;
    padding: 1em;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 2em;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    white-space: pre;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #931420;
    color: white;
}

/* the styles for the footer */
footer {
    clear: both;
    background-color: #931420;
}

footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}