html {
    background-image: url("../images/background_img.jpg");
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 870px;
    background-color: white;
    margin: 1em auto;
}

section, aside, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

section, aside {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

em {
    font-weight: bold;
}

/* the styles for the header */
header {
    padding: 1em 0;
    border-bottom: 2px solid #f2972e;
}

header img {
    float: left;
    margin-left: 20px;
}

header h2 {
    font-size: 220%;
    color: #f2972e;
    text-shadow: 2px 3px 0 black;
    padding-left: 4.5em;
    margin-bottom: .25em;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    padding-left: 7.5em;
}

/* the styles for the section */
section {
    width: 535px;
    margin: auto;
    padding: 1em;
}

section h1 {
    font-size: 170%;
    padding-bottom: 1em;
}

section a {
    float: right;
    padding-top: 1em;
    font-size: 20px;
    font-weight: bold;
    color: #931420;
}

#contact_us {
    margin-top: 1em;
}

a.date_passed {
    color: gray;
}

/* the styles for the form */

.form-group {
    display: inline-block;
    padding: 0;
    margin-bottom: .5em;
}

.separateSection {
    border-top: 2px dashed black;
    padding-top: .5em;
    font-weight: bold;
}

.left {
    width: 224px;
    max-width: 224px;
    float: left;
}

.right {
    float: left;
    width: 230px;
    margin-left: 1em;
}

.sep {
    float: left;
    font-weight: bold;
}

form {
    margin-left: 1em;
}

.form-group-aside {
    margin: 10px 0;
}

input[type=text] {
    float: right;
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    width: 300px;
    background-color: #931420;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px auto;
}

label.error {
    color: #931420;
    display: block;
    margin: 2px 0 2px 36px;
    padding: 0;
    font-size: 15px;
}

label.success {
    color: green;
    display: block;
    padding: 0;
    font-size: 15px;
}

#errors {
    margin-top: 1em;
    color: #931420;
    text-align: center;
    display: block;
    font-size: 15px;
}

label.globalError {
    display: block;
    width: 450px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: center;
    color: #931420;
}

/* the styles for the footer */
footer {
    clear: both;
    background-color: #931420;
}

footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}