extends ./layout

block head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title PrimeSpot
    link(rel='stylesheet' href='static/main.css')
    link(rel='icon' href='images/logo.gif' type='image/ico' sizes='16x16')

block content
    header
        img(src='images/book_logo.jpeg' alt='Book store logo' height='80')
        h2 PrimeSpot
        h3 Browse our shelves... Gain more knowledge
        a.nav-link.userlogin(href='/auth/login') Sign in
    main
        section
            h2 Order online
            form(id="placeOrder" name='OrderForm' method="post" action="/order")

                div.form-group
                    label(for="UserName") Name*:
                    input(id="username" name='username' type='text')
                    if errors && errors.username
                        span.error= errors.username.message

                div.form-group
                    label(for="email") Email*:
                    input(id="email" name="email" type="email" placeholder='test@test.com')
                    if errors && errors.email
                        span.error= errors.email.message

                div.form-group
                    label(for="phone") Phone*:
                    input(id="phone" name='phone' type='text' placeholder='xxx-xxx-xxxx')
                    if errors && errors.phone
                        span.error= errors.phone.message

                div.form-group
                    label(for="address") Address*:
                    input(id="address" name="address" type="text")
                    if errors && errors.address
                        span.error= errors.address.message

                div.form-group
                    label(for="city") City*:
                    input(id="city" name="city" type="text")
                    if errors && errors.city
                        span.error= errors.city.message

                div.form-group
                    label(for="postal") Post Code*:
                    input(id="postal" name="postal" placeholder='X9X X9X' type="text")
                    if errors && errors.postal
                        span.error=errors.postal.message

                div.form-group
                    label(for="province") Province*:
                    select(id="province" name="province")
                        option(value="AB") Alberta
                        option(value="BC") British Columbia
                        option(value="MB") Manitoba
                        option(value="NB") New Brunswick
                        option(value="NL") Newfoundland and Labrador
                        option(value="NS") Nova Scotia
                        option(value="NT") Northwest Territories
                        option(value="NU") Nunavut
                        option(value="ON" selected) Ontario
                        option(value="PE") Prince Edward Island
                        option(value="SK") Saskatchewan
                        option(value="QC") Quebec
                        option(value="YT") Yukon
                    if errors && errors.province
                        span.error= errors.province.message

                div.form-group
                    label(for="product1") Book 1 @ $8.99:
                    input.product-group(id="product1" name="product1" type="number" placeholder="Enter a number")

                div.form-group
                    label(for="product2") Book 2 @ $22.99:
                    input.product-group(id="product2" name="product2" type="number" placeholder="Enter a number")

                div.form-group
                    label(for="product3") Book 3 @ $19.50:
                    input.product-group(id="product3" name="product3" type="number" placeholder="Enter a number")

                div.form-group
                    label(for="product4") Book 4 @ $15.00:
                    input.product-group(id="product4" name="product4" type="number" placeholder="Enter a number")

                div.form-group
                    label(for="delivery") Delivery Time:
                    select(id="delivery" name="delivery")
                        option(value="d1") 1 Day
                        option(value="d2") 2 Days
                        option(value="d3" selected) 3 Days
                        option(value="d4") 4 Days

                if errors && errors.common
                    span.error= errors.common.message

                input(type="submit" name='button' value="Place Order")

    aside
        h1 Today's Deal
        h3
            | Book 1
            br
        img(src='images/book1.PNG' alt='Book1')
        img.imgText(src='images/book1_text.PNG' alt='Book1_text')
        h3
            | Book 2
            br
        img(src='images/book2.PNG' alt='Book2')
        img.imgText(src='images/book2_text.PNG' alt='Book2_text')
        h3
            | Book 3
            br
        img(src='images/book3.PNG' alt='Book3')
        img.imgText(src='images/book3_text.PNG' alt='Book3_text')
        h3
            | Book 4
            br
        img(src='images/book4.PNG' alt='Book4')
        img.imgText(src='images/book4_text.PNG' alt='Book4_text')

block footer
    p &copy; 2020, PrimeSpot, Fresno, CA 93755
